.header {
    z-index: -999;
    height: 100vh;
    background-image: linear-gradient(to right bottom,
                        rgba($color-primary-light, 0.2),
                        rgba($color-primary-dark, 0.2)),
                        url(../img/bg_1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    top: 0;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__weddings{
        height: 65vh;
        background-image: linear-gradient(to right bottom,
                        rgba($color-primary-light, 0.5),
                        rgba($color-primary-dark, 0.5)),
                        url(../img/party.jpg) !important;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.header-aboutus{
    z-index: -999;
    height: 65vh;
    background-image: linear-gradient(to right bottom,
                        rgba($color-primary-light, 0.2),
                        rgba($color-primary-dark, 0.2)),
                        url(../img/bg_4.jpg);
                        background-size: cover;
                        background-position: center;
                        position: relative;
                        top: 0;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
