.book-table{
    height: 60rem;
    // background-image: url(/img/banner.jpeg);
    background-image: linear-gradient(90deg,
                    rgba($color-white, 1) 50%,
                    rgba($color-white, .9) 0%,
                    transparent 50%),
                    url(../img/restaurent.jpg);
    background-size: cover;
     background-position: top;
    // border-radius: 3px;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    position: relative;

     @include respond(tab-land) {
        background-image: linear-gradient(90deg,
                        rgba($color-white, 1) 60%,
                        rgba($color-white, .9) 0%,
                        transparent 50%),
                        url(../img/restaurent.jpg);
     }
     @include respond(tab-port) {
        background-image: none;
        background-color: $color-white;
     }

     &__label{
        font-size: 1.45rem !important;
        color: $color-black !important;
        font-weight: 600 !important;
        
     }

     &__button{
         display: flex;
         justify-content: center;
        margin: 3rem auto 0 auto;
     }

     &__box{
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 50rem;
         height: 50rem;

         @include respond(tab-land) {
             width: 100%;
         }
     }

    &__title{
        font-size: 5rem;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 3rem;
        margin-top: 10rem;
    }

    &__form{
        display: flex;
        justify-content: center;
        align-content: center;

        // position: absolute;
        // top: 15rem;
        // left: 10rem;
        // width: 50rem;

        @include respond(tab-land) {
            
        }
    }
}

.input-field{
    margin: 2rem 2rem !important;
}

.form-rows{
    display: flex;
    justify-content: space-around;
    // align-content: space-between;
}
