.happy-hour{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e74c3c;
    height: 20rem;
    width: 100%;

    @include respond(tab-land){
        flex-direction: column;
        height: 30rem;
    }

    &__text{
        font-family: 'Luckiest Guy',cursive;
        margin-left: 6rem;
        flex: 0 0 18%;
        color: $color-white;
        font-size: 6rem;
        line-height: 1;
        // font-weight: 200;
        @include respond(tab-land) {
            font-size: 5.5rem; 
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2rem;
            margin-left: 0;
        }
    }
    
    &__para{
        flex: 1 0 50%;
        font-size: 1.5rem;
        color: $color-white;
        align-self: center;
        padding:0 4rem;
        // padding: 0 6rem;
        @include respond(tab-land) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -3rem;
            
        }

    }

    &__button{
        flex: 0 0 18%;
        align-self: center;
        // margin-right: 6rem;
        @include respond(tab-land) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;

        }
    }
}