.intro-box{
    padding: 0;
    margin: 8rem 4rem 8rem 4rem;

    &__title{
        color: $color-black;
        text-transform: capitalize;
        font-size: 3rem;
        letter-spacing: .2rem;
        font-weight: 600;
        margin-bottom: 3rem;
        line-height: 1.1;

        &-1{
            font-size: 7rem;
            text-transform: capitalize;
            font-weight: 800;
            text-align: center !important;
        }
    }
    
    &__para{
        color: $color-black;
        text-align: justify;
    }

    &__img{
        background-image: url(../img/intro.jpeg);
        background-size: cover;
        height: 40rem;
        max-width: 40rem;
        margin: auto;

        @include respond(tab-land){
            display: none;
        }
    }

   


}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8rem 0rem 8rem 5rem;

    &__item{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        margin-top: 1rem ;
        margin-bottom: 1rem; 
        transition: all .4s;
        width: 14rem;
        height: auto;

        &:not(:nth-child(4n)){
            margin-right: 3.5rem;
        }

        &:hover{
            transform: scale(1.2);
        }

    }

    &__icon {
        width: 10rem;
    }

    &__text{
        color: $color-primary;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    }
}