.navbartoggle{
   
}
.navbarx{
    height: 0;
    position: relative;
    display: block;
    margin: auto;
    background-color: $color-primary;
    // max-width: 120rem !important;
    margin: auto;
    transition: all .5s;
    
    .logo-box{
        position: absolute;
        top: 4rem ;
        left: 12rem ;
        transition: all .5s;
        @include respond(tab-land) {
            left: 4rem;
            visibility: visible;
        }
    }
    
    .logo {
        height: 8rem;
        transition: all .5s;


    }

    .list{
        display: flex;
        position: absolute;
        top: 5rem;
        right:10rem;
        list-style: none;
        transition: all .5s;

         @include respond(tab-land) {
             display: inline-block;
             @include absCenter;
             margin: 2rem 0;
             font-size: rem;
         }
    }

    .navitem{
        padding: 0;
        transition: all .5s;
         @include respond(tab-land) {
            font-size: 5rem;
         }

    }

    .navlink{
        text-decoration: none;
        font-size: 1.8rem; 
        transition: all .5s;
        
        &:link,
        &:visited{
            color: $color-white;
            text-transform: uppercase;
        }

        &:hover,
        &:active {
            color: $color-secondary-light;
            font-weight: 500;
            
        }
    }

    @include respond(tab-land){
        visibility: hidden;
    }

}
.navbary{
    height: 0;
    // position: relative;
    position: fixed;
    background-color: $color-primary;
    max-width: 100% !important;
    height: 8rem !important;
    margin: auto !important;
    z-index: 10000 !important;
    transition: all .5s;
    

    .logo-box{
        position: absolute;
        top: 1rem;
        left: 14rem;
        transition: all .5s;
         @include respond(tab-land) {
             display: none;
            }
        }
        
    .logo {
        height: 6rem;
        transition: all .5s;

    }

    .list{
        display: flex;
        position: absolute;
        top: 1rem;
        right:14rem;
        list-style: none;
        transition: all .5s;

         @include respond(tab-land) {
             display: inline-block;
             @include absCenter;
             margin: 2rem 0;
             font-size: rem;
         }
    }

    .navitem{
        padding: 0;
        transition: all .5s;
         @include respond(tab-land) {
            font-size: 5rem;
         }

    }

    .navlink{
        text-decoration: none;
        font-size: 1.5rem; 
        transition: all .5s;
        
        &:link,
        &:visited{
            color: $color-white;
            text-transform: uppercase;
        }

        &:hover,
        &:active {
            color: $color-secondary-light;
            font-weight: 500;
            
        }
    }

    @include respond(tab-land){
        visibility: hidden;
    }

}


