.offers{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
     margin: 10rem 15rem 10rem 10rem; 
     background-color: #BA2F16;
     padding: 3.5rem;
     box-shadow: .5rem 1rem 2rem rgba($color-black,.5);
     animation: shake 1s infinite;
     cursor: pointer;
     

     &:hover {
         animation-play-state: paused;
     }


     @include respond(tab-land) {
         align-self: center;
        background-color: rgba(#BA2F16, .6);
         flex: 0 0 100%;
         margin: 0;

     }



     &__title {
         color: $color-white;
         font-size: 5.5rem;
         font-weight: 700;
         columns: $color-black;
         margin-bottom: 1rem;
         text-align: justify;
     }

     &__para {
         font-size: 1.5rem;
         font-weight: 400;
         columns: $color-white !important;
         margin-bottom: 1rem;
     }

}