.parallax-window {
    min-height: 50rem;
    background: transparent;
    background-color: rgba(0, 0, 0, .3);
}

.parallax-window-2 {
    min-height: 50rem;
    background: transparent;
    background-color: rgba(255, 255, 255, .3);
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box{
        height: 30rem;
        background-color: rgba($color-primary, .5);

        @include respond(tab-land) {
            margin: 0 5rem;
            height: 25rem;
        }
        
    }
    
    &__title{
        font-size: 6rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @include respond(tab-land){
            font-size: 5rem;
            padding-top: 2rem;
            margin-bottom: 1rem;
        }
        @include respond(tab-port){
            font-size: 3rem;
            padding-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__para{
        padding: 0 10rem;
        font-size: 2rem;
        text-align: justify;
        
        @include respond(tab-land) {
            font-size: 1.5rem;
            padding: 0 2rem;
        }
        @include respond(tab-port) {
            font-size: 2rem;
            padding: 0 2rem;
        }
    }


}